<<<<<<< HEAD
.place__website {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-self: end;
}

@media screen and (max-width: 620px) {
  .place__website {
    margin-left: 16px;
  }
=======
.place__website {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-self: end;
}

@media screen and (max-width: 620px) {
  .place__website {
    margin-left: 16px;
  }
>>>>>>> af3ab0d003c9c8dee40007e262c93d368ef9dfdf
}