<<<<<<< HEAD
.place__paragraphs {
  display: flex;
  flex-direction: column;
  row-gap: 26px;
}
/*Использован флекс-контейнер, чтобы реализовать 
расстояние между абзацами в 26px*/

@media screen and (max-width: 620px) {
  .place__paragraphs {
    margin: 0 16px;
  }
=======
.place__paragraphs {
  display: flex;
  flex-direction: column;
  row-gap: 26px;
}
/*Использован флекс-контейнер, чтобы реализовать 
расстояние между абзацами в 26px*/

@media screen and (max-width: 620px) {
  .place__paragraphs {
    margin: 0 16px;
  }
>>>>>>> af3ab0d003c9c8dee40007e262c93d368ef9dfdf
}