<<<<<<< HEAD
.header {
  display: flex;
  justify-content: space-between;
  position: relative;
}

@media screen and (max-width: 1279px) {
  .header {
    margin: 0 48px;
  }
}

@media screen and (max-width: 1023px) {
  .header {
    margin: 0 24px;
  }
}

@media screen and (max-width: 767px) {
  .header {
    margin: 0 16px;
  }
=======
.header {
  display: flex;
  justify-content: space-between;
  position: relative;
}

@media screen and (max-width: 1279px) {
  .header {
    margin: 0 48px;
  }
}

@media screen and (max-width: 1023px) {
  .header {
    margin: 0 24px;
  }
}

@media screen and (max-width: 767px) {
  .header {
    margin: 0 16px;
  }
>>>>>>> af3ab0d003c9c8dee40007e262c93d368ef9dfdf
}