<<<<<<< HEAD
.footer__link {
  font-size: 16px;
  line-height: 1.12;
  color: #FFFFFF;
  text-decoration: none;
  margin: 0;
}

@media screen and (max-width: 767px) {
  .footer__link {
    font-size: 24px;
    line-height: 1;
  }
=======
.footer__link {
  font-size: 16px;
  line-height: 1.12;
  color: #FFFFFF;
  text-decoration: none;
  margin: 0;
}

@media screen and (max-width: 767px) {
  .footer__link {
    font-size: 24px;
    line-height: 1;
  }
>>>>>>> af3ab0d003c9c8dee40007e262c93d368ef9dfdf
}