.lead__title {
  max-width: 720px;
  font-size: 96px;
  line-height: 1.045;
  font-family: Inter;
  font-style: normal;
  font-weight: 900;
  color: #FFFFFF;
  text-align: center;
  margin: 56px 0 0;
}

@media screen and (max-width: 1279px) {
  .lead__title {
    margin: 48px 0 0;
  }
}