<<<<<<< HEAD
.place__image {
  width: 100%;
  max-width: 460px;
  box-sizing: border-box;
}

@media screen and (max-width: 1279px) {
  .place__image {
    max-width: 440px;
}

@media screen and (max-width: 620px) {
  .place__image {
    justify-self: center;
=======
.place__image {
  width: 100%;
  max-width: 460px;
  box-sizing: border-box;
}

@media screen and (max-width: 1279px) {
  .place__image {
    max-width: 440px;
}

@media screen and (max-width: 620px) {
  .place__image {
    justify-self: center;
>>>>>>> af3ab0d003c9c8dee40007e262c93d368ef9dfdf
}