.intro__title {
  max-width: 690px;
  font-weight: 900;
  font-size: 54px;
  line-height: 1.07;
  margin: 0; 
}

@media screen and (max-width: 767px) { 
  .intro__title {
    font-size: 43px;
  }
}

@media screen and (max-width: 559px) { 
  .intro__title {
    font-size: 32px;
  }
}